# Core functionality - changes here should be rare!
/src/app.py                   @hady-dawoud
/src/backend/database.py      @hady-dawoud
/src/backend/routers/auth.py  @hady-dawoud

# The frontend will need refactored soon to be more object oriented.
/src/static/   @hady-dawoud
